@charset "utf-8";
dl.wws{position:relative;margin-bottom:20px;}
dl.wws dt{font-size:1.1em;font-weight:bold;color:#0e76bc;margin-bottom:5px;font-family:'nanumbd';}
dl.wws dd{font-size:1em;line-height:1.8em;color:#666;}
dl.wws dd h4{margin:9px 0 0;color:#333;font-family:'nanumbd';}
.borad{width:100%;height:800px;overflow:hidden;overflow:scroll;display:block;}

.project_list{overflow:hidden;}
.project_list li{width:25%;float:left;margin-top:20px;}
.project_list li a{display:block;text-align:center;}
.project_list li a img{width:90%;vertical-align:top;}
.project_list li a span{display:block;margin-top:5px;}
.project_list li a img + span + span{color:#303091;font-family:'nanumbd';font-size:14px;}
.project_list li a img + span + span + span{font-family:'nanumbd';}
.project_list li a img + span + span + span + span{font-size:11px;}
.project_list li a img + span + span + span + span + span{font-size:11px;}

.process_list{}
.process_list > li{margin-top:6px;font-family:'nanumbd';}
.process_list > li:first-child{margin-top:0;}
.process_list > li* {vertical-align:middle;}
.process_list > li > span{width:15px;height:15px;line-height:15px;text-align:center;display:inline-block;background:#0e76bc;color:#fff;margin-right:6px;}
.process_list > li > ul{margin-top:8px;}
.process_list > li > ul > li{padding-left:15px;margin-top:8px;font-family:'nanum';letter-spacing:-1px;}
.process_list > li > ul > li:first-child{margin-top:0;}

.tables{}
.tables table{width:100%;}
.tables table td, .tables table th{padding:6px 0;border:1px solid #ccc;}
.tables table td{padding-left:5px;}
.tables table th{border-left:0;color:#0e76bc;}
.tables table td{border-right:0;}
.tables table td > ul > li > ul > li{padding:4px 0;}

