@media all and (max-width:957px) {
	.header{min-width:600px;}
	.header li{
		color:.848484;display:inline;
		text-transform:uppercase;margin:0 20px;line-height:140%;
	}
	.logo{
		width:100%;
		height:60px;
		padding-top:80px;
		margin: 0 auto;
		border:none;
		border-bottom: 1px solid #d4d4d4;
		text-align: center;
	}
	.logo h1 a img:first-child{width:200px;}
	.logo h1 a img:first-child + img{width:40px;}
	.container{width:100%;border:0;}
	.wrapper{padding-top:140px;}
	.m_banner{width:100%;}
	.container .slide_bnr img{width:100%;}
	.container .lnb{width:100%;border:0;}
	.container .lnb h2{width:100%;}
	.container .content{width:94%;padding:3%;border:0;}
	.footer{width:auto;border-right:none;border-left:none;}
}


@media all and (max-width:640px) {
	.guide{display:none;}
	.header{top:0;min-width:300px;height:62px;border-top:3px solid #0e76bc;border-bottom: none;text-align:center;background:#fff;}
	.header ul{position:absolute;top:0;left:0;padding:0;width:100%;}
	.header ul li{
		width:33.3%;height:30px;font-size:12px;display:inline-block;
		float:left;text-transform:uppercase;line-height:30px;text-align:center;border:none;border-bottom:1px solid #d4d4d4;margin:0;
	}
	.logo{padding-top:75px;}
	.container{width:100%;border:0;}
	.container .slide_bnr img{width:100%;}
	.container .lnb h2{padding:10px 0;font-size:1.2em}
	.m_banner ul li{width:100%;height:60px;background-image:none;border-top:1px solid #ccc;}
	.m_banner ul li:first-child + li{width:100%;}
	.m_banner ul li a{height:60px;text-align:left;padding-left:60px;}
	.m_banner ul li span:first-child{font-size:16px;padding-top:24px;font-family:'nanumbd'}
	.m_banner ul li span:first-child + span{padding:0;}
	.m_banner ul li a.ico1{background:url('../img/icon1.png') no-repeat 0 center;background-size:50px;}
	.m_banner ul li a.ico2{background:url('../img/icon2.png') no-repeat 0 center;background-size:50px;}
	.m_banner ul li a.ico3{background:url('../img/icon3.png') no-repeat 0 center;background-size:50px;}
	.con_btn a{width:90%;}
	.footer{padding:15px;}
}

@media all and (max-width:957px) {
	.project_list li{width:33.3333%;}
}

@media all and (max-width:640px) {
	.project_list li{width:100%;margin-top:15px;padding-top:15px;border-top:1px solid #ccc;}
	.project_list li:first-child{margin-top:0;padding-top:0;border-top:0;}
	.project_list li a img{width:60%;}
}